html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



.absolute-in-row {
	width: 100%;
	position: absolute;
	top: 0;
	left: 15px;
}

#main-header {
	position: relative;
}

.main-header-logo,
.main-header-nav {
	z-index: 2;
}

.main-header-logo img {
	max-width: 100%;
	height: auto;
}

.main-header-nav-bg {
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1;
}

.main-header-nav li {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	font-family: 'Raleway';
	font-weight: 500;
	text-transform: uppercase;
	color: #fd6b6c;
}

.main-header-nav li > span {
	cursor: default;
}

.main-header-nav li > a {
	font-family: 'Raleway';
	text-transform: uppercase;
	color: #fd6b6c;
}

.main-header-nav .dropdown-menu > li {
	width: 100%;
}

.main-header-nav .dropdown-menu > li > a:focus,
.main-header-nav .dropdown-menu > li > a:hover {
	background-color: #FFFFFF;
	color: #fd6b6c;
	text-decoration: underline;
}

.main-header-highlight-container {
	overflow: hidden;
}

.main-header-highlight-article {
	position: relative;
}

.main-header-highlight-article img {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.main-header-highlight-article-text {
	position: absolute;
	right: 0;
	bottom: 0;
}

.main-header-highlight-article-text > a {
	font-family: 'Raleway';
	color: #FFFFFF;
}

.main-header-highlight-article-text-title {
	display: block;
	background: #fd6b6c url("/assets/images/flamingo.png") no-repeat scroll 85% center;
	background-size: auto 90%;
	font-weight: bold;
}

.main-header-highlight-article-text-author {
	display: block;
	padding: 5px;
	margin-left: 50px;
	background-color: #6ac2bd;
	font-weight: 300;
}

@media (min-width: 768px) and (max-width: 991px) {
	#main-header {
		height: 200px;
	}

	.main-header-nav {
		height: 30px;
	}

	.main-header-nav li {
		line-height: 30px;
	}

	.main-header-nav-bg {
		height: 30px;
	}
	
	.main-header-highlight-article {
		height: 200px;
	}

	.main-header-highlight-article-text-title {
		padding: 5px 80px 5px 50px;
		font-size: 26px;
	}
}

@media (min-width: 768px) and (max-width: 1999px) {
	.main-header-nav li > a,
	.main-header-nav li > span {
		font-size: 11px;
	}
}

@media (min-width: 992px) {
	#main-header {
		height: 400px;
	}

	.main-header-nav {
		height: 50px;
	}

	.main-header-nav li {
		line-height: 50px;
	}

	.main-header-nav-bg {
		height: 50px;
	}

	.main-header-highlight-article {
		height: 400px;
	}

	.main-header-highlight-article-text-title {
		padding: 5px 80px 5px 50px;
		font-size: 34px;
	}
}

@media (min-width: 1200px) {
	.main-header-nav li > a,
	.main-header-nav li > span {
		font-size: 14px;
	}
}