html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, #app {
	height: 100%;
}

body {
	background-image: url('/assets/images/bg.jpg');
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	padding-bottom: 150px;
}

#main-footer {
	position: relative;
	margin-top: -150px;
	height: 150px;
	clear: both;
}

#main-header,
#content,
#main-footer {
	background-color: rgba(255, 255, 255, 0.5);
}

#loading {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.5);
	opacity: 1;
	z-index: 9999;
}

.loading-center {
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	position: relative;
}

.absolute-in-row {
	width: 100%;
	position: absolute;
	top: 0;
	padding-left: 15px;
	padding-right: 15px;
}

a.hvr,
.hvr > a {
	text-decoration: none !important;
}

.hvr-sweep-to-right::before {
	background-color: #3e9994;
}

.hvr-bubble-float-left::before{
	border-color: transparent #fd6c6c transparent transparent;
}

.hvr-bubble-float-right::before {
	border-color: transparent transparent transparent #fd6d6c;
}

#main-header {
	position: relative;
}

.main-header-logo,
.main-header-nav {
	z-index: 2;
}

.main-header-logo img {
	max-width: 100%;
	height: auto;
}

.main-header-logo-mobile {
	background-color: #fd6d6c;
	text-align: center;
}

.main-header-nav-bg {
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 1;
}

.main-header-nav li {
	display: inline-block;
	position: relative;
	margin-right: 20px;
	font-family: 'Raleway';
	font-weight: 500;
	text-transform: uppercase;
	color: #fd6b6c;
}

.main-header-nav li > span {
	cursor: default;
}

.main-header-nav li > a {
	font-family: 'Raleway';
	text-transform: uppercase;
	color: #fd6b6c;
}

.main-header-nav .dropdown-menu > li {
	width: 100%;
}

.main-header-nav .dropdown-menu > li > a:focus,
.main-header-nav .dropdown-menu > li > a:hover {
	background-color: #FFFFFF;
	color: #fd6b6c;
	text-decoration: underline;
}

.main-header-highlight-img-container {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.main-header-highlight-article {
	position: relative;
	/*background : green;*/
}

.main-header-highlight-article img {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.main-header-highlight-article-text {
	position: absolute;
	right: 0;
	bottom: 0;
}

.main-header-highlight-article-text > span,
.main-header-highlight-article-text > a {
	font-family: 'Raleway';
	color: #FFFFFF;
}

.main-header-highlight-article-text-title {
	display: block;
	background: #fd6b6c url("/assets/images/flamingo.png") no-repeat scroll 85% center;
	background-size: auto 90%;
	font-weight: bold;
}

.main-header-highlight-article-text-author {
	display: block;
	padding: 5px;
	margin-left: 50px;
	background-color: #6ac2bd;
	font-weight: 300;
}

/* Content */
#content {
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom : 50px;
}

/* Global */
.article-list, .article{
	width : 90%;
	margin : auto;
}

/* Article List */
	/* .article-list */
.article-list, .article-list a {
	font-family: 'Raleway';
	color: #FFFFFF;
}

	/* - .article-list-item  */
.article-list-item {
	overflow: hidden;
	height : 200px;
	padding : 0px;
	margin-top : 10px;
	padding : 0px 10px 0px 10px;
}

	/* -- .article-list-item-images-container */
.article-list-item-images-container{
	overflow: hidden;
	height:190px;
	text-align : center;
	/*background : green;*/
}

.article-list-item-images-container img{
	position : relative;
	top : 100%;
	margin-top : -100%;
}

	/* -- .article-list-item-text */
.article-list-item-text {
	position : absolute;
	bottom : 20px;
}

.article-list-item-text-title, .article-list-item-text-author{
	display : block;
	padding : 5px;
	width : auto;
}

.article-list-item-text-title{
	background: #fd6b6c;
	background-size: auto 90%;
	font-size: 34px;
	font-weight: bold;
}

.article-list-item-text-author {
	background : #6ac2bd;
	display : inline-block;
}

	/* categories */
.arcitle-list-item-categories, .article-categories {
	padding : 0px;
}

.arcitle-list-item-categories a, .article-categories a{
	font-family: 'Raleway';
	color: #FFFFFF;
	background : #6ac2bd;
	display : inline-block;
	font-size : 10px;
	padding : 2px;
	margin-right : 2px;
}
/*--------------------------------*/

/* Home */
#welcomeMessage{
	text-align : center;
	font-family: 'Raleway';
	color: #FFFFFF;
}

#welcomeMessage h2{
	display : inline-block;
	padding : 5px 25px 5px 25px;
	background : #fd6b6c;
	font-size : 34px;	
	font-weight: bold;
}

.home-list-categories{
	overflow:hidden;
}

.home-section{
	position : relative;
}


.home-section-title {
	position : relative;
	height : 45px;
	margin : 40px 0px 5px 0px;
}

.home-section-title-text{
	font-family: 'Raleway';
	position : absolute;
	top : 0px;
	color: #FFFFFF;
	display: inline-block;
	font-size: 34px;
	font-weight: bold;
	min-width : 45%
}

.home-section:nth-child(2n+1) .home-section-title-text{
	left : 0px;
	padding: 5px 50px 5px 80px;
	background: #6ac2bd url("/assets/images/flamingo.png") no-repeat scroll 10% center;
	background-size: auto 90%;
}

.home-section:nth-child(2n) .home-section-title-text{
	right : 0px;
	text-align : right;
	padding: 5px 80px 5px 50px;
	background: #6ac2bd url("/assets/images/flamingo.png") no-repeat scroll 90% center;
	background-size: auto 90%;
	margin-left : 0px;
}
/*--------------------------------*/


/* Article */
.article-subtitle{
	font-family: 'Raleway';
	color: #fd6b6c;
	font-size : 30px;
	font-weight : bold;
	margin: 30px 0px 10px 0px;
}

.article-description, .article-content p, .astuce-description, .astuce-content{
	padding : 0px 20px 0px 20px;
}

.article-description{
	font-size : 20px;
	font-weight : bold;
}

.article-content p{
	display : block;
	margin-top: 30px;
}

	/* -.article-image */
.article-image-container{
	display : block;
	height : 400px;
	padding : 0px 10px 0px 10px;
	margin-top : 20px;
}

.article-image-container-size{
	height : 100%;
	width : 100%;
	/*background :blue;*/
	overflow : hidden;
	text-align : center;
}

.complete-size-picture img, .half-size-picture img{
	position : relative;
}

.half-size-picture img.paysage{
	max-height : 100%;
	height : auto;
	min-width : 100%;
	width : auto;
	left : 100%;
	margin-left : -200%;
}


	/* - .article-footer */
.article-footer{
	text-align : center;
	margin-top : 40px;
}

.article-footer h2{
	font-family: 'Raleway';
	color: #6ac2bd;
	font-size : 26px;
	font-weight : bold;
}
	
.article-footer .network-icones{
	display : inline;
	margin : auto;
	width : auto;
}

.article-footer .network-icone{
	display : inline-block;
	height : 60px;
	width : 60px;
	padding : 20px 10px 0px 10px;
}

.article-footer .network-icone img{
	max-width : 100%;
	height : auto;
}


/* Astuce */
	/* -astuce-step */
.astuce-step{
	margin : 30px 0px 0px 0px;
	height : 400px;
	width : 100%;
	background : blue;
	overflow : hidden;
	position : relative;
	text-align : center;
}

.astuce-step img{
	position : relative;
	min-width : 100%;
	height : auto;
	left : 100%;
	margin-left : -200%;
}
 
.astuce-step-content{	
	position : absolute;
	top : 0px;
	z-index : 1;
	background : rgba(253,107,108,0.8);
	border : 3px solid #6ac2bd;
	width : 50%;
	height : 400px;
}

.astuce-step:nth-child(2n+1) .astuce-step-content{
	right : 0px;
}

.astuce-step:nth-child(2n) .astuce-step-content{
	left : 0px;
}

.astuce-step-container{
	padding : 0px;
}

.astuce-step-content-number{
	margin : 10px auto 0px auto;
	width : 90px;
	height : 90px;
	border-radius : 50%;
	background : #6ac2bd;
}
.astuce-step-content-number h2 {
	font-family: 'Raleway';
	color: #FFFFFF;
	line-height : 90px;
	font-size : 60px;
	position : relative;
	left : 100%;
	margin-left : -200%;
}

.astuce-step-content-title{
	font-family: 'Raleway';
	color: #6ac2bd;
	font-size : 30px;
	margin : 15px 0px 15px 0px;
	font-weight : bold;
}

.astuce-step-content-text{
	color: #FFFFFF;
}

/* footer */
#main-footer{
	min-height : 150px;	
	position : relative;
	color : #FFFFFF;
	background: #6ac2bd url('/assets/images/flamingo_triangle.png') right center no-repeat;
	background-size: auto 100%;
}

#main-footer .container{
	height : 100%;
}

.main-footer-sharing{
	height : 100%;
	text-align : center;
	position : relative;
}

.main-footer-sharing h2{
	display : block;
	z-index : 2;
	position : absolute;
	top : 0px;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Raleway';
	color: #FFFFFF;
	font-size : 30px;
	font-weight : bold;
}

.main-footer-sharing .network-icones{
	height : 100%;
}

.main-footer-sharing .network-icone {
	display : inline-block;
	height : 100%;
}

.main-footer-sharing .network-icone a{
	display : block;
	height : 100%;
	position : relative;
}

.main-footer-sharing .network-icone img{
	position : absolute;
}

.main-footer-sharing .network-tumblr{
	background : #36475c;
}

.main-footer-sharing .network-pinterest{
	background : #be2227;
}

.main-footer-sharing .network-googleplus{
	background : #dd4536;
}

.main-footer-sharing .network-twitter{
	background : #39aae0;
}

.main-footer-sharing .network-facebook{
	background : #3b5a9a;
}

.main-footer-text-container{
	position : relative;
	height : 100%;
}

.main-footer-text-legal-mention{
	padding : 20px;
	font-size : 12px;
	bottom : 0px;
}

/*--------------------------------*/
@media (max-width: 767px) {
	.main-header-logo-mobile img {
		max-width: 100%;
	}

	#main-footer .row {
		height: 50px;
	}

	.main-footer-sharing .network-icone img{
		width: auto;
		height: 100%;
		left : 50%;
		top : 0;
		transform: translateX(-50%);
	}

	.main-header-nav {
		background-color: rgba(255, 255, 255, 0.9);
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}

	.main-header-nav li {
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	
	.article-list-item-images-container img{
		max-width : 100%;
		height : auto;
		
	}

	
	.complete-size-picture img.portrait, .complete-size-picture img.paysage, .half-size-picture img.portrait{
		max-height : 100%;
		min-height : 100%;
		width : auto;
		left : 100%;
		margin-left : -200%;
	}
}

@media (min-width: 768px) {
	#main-footer .row {
		height: 150px;
	}

	.main-footer-text-legal-mention{
		position : absolute;
	}

	.main-footer-sharing .network-icone img{
		width : 100%;
		height : auto;
		top : 100%;
		left: 0;
		margin-top : -200%;
	}

	#welcomeMessage h2{
		width : 35%;
	}
	
	
	.complete-size-picture img.portrait, .complete-size-picture img.paysage, .half-size-picture img.portrait{
		max-width : 100%;
		min-width : 100%;
		height : auto;
		top : 100%;
		margin-top : -200%;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {

	#main-header {
		height: 200px;
	}

	.main-header-nav {
		height: 30px;
	}

	.main-header-nav li {
		line-height: 30px;
	}

	.main-header-nav-bg {
		height: 30px;
	}
	
	.main-header-highlight-article {
		height: 200px;
	}

	.main-header-highlight-article-text-title {
		padding: 5px 80px 5px 50px;
		font-size: 26px;
	}
	
	
	.col-sm-4 .article-list-item-images-container img{
		max-height : 100%;
		width : auto;
	}
	.col-sm-6 .article-list-item-images-container img{
		max-width : 100%;
		height : auto;
	}
	
	.network-icone{
		padding : 0px 5px 0px 5px;
	}
}

@media (min-width: 768px) and (max-width: 1999px) {
	.main-header-nav li > a,
	.main-header-nav li > span {
		font-size: 11px;
	}
}

@media (min-width: 992px) {
	#main-header {
		height: 400px;
	}

	.main-header-nav {
		height: 50px;


	}

	.main-header-nav li {
		line-height: 50px;
	}

	.main-header-nav-bg {
		height: 50px;
	}

	.main-header-highlight-article {
		height: 400px;
	}

	.main-header-highlight-article-text-title {
		padding: 5px 80px 5px 50px;
		font-size: 34px;
	}

	
	
	.article-list-item-images-container img{
		max-width : 100%;
		height : auto;
	}
}

@media (min-width: 1200px) {
	.main-header-nav li > a,
	.main-header-nav li > span {
		font-size: 14px;
	}
}